

@media (max-width: 1024px) {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
  }

	a {
		font-family: 'Zilla Serif', serif;
		text-decoration: none;
		color: #4e4e4e;
	}

	body {
		background: #fff8e8;
		color: #4e4e4e;
		font-size: 100%;
	}

  h1 {
		background: url(assets/img/hg-1.png);
		background-size: cover;
		background-repeat: no-repeat;
    margin-bottom: 3rem;
    width: 100%;
		text-align: center;
  }

	h1,
  h2 {
		font-family: "Zilla Slab", serif;
    color: #4e4e4e;
  }
  
  h3 {
    font-family: "Zilla Slab", serif;
    color: #4e4e4e;
  }

	p {
		font-family: "Lato", sans-serif;
		color: #4e4e4e;
  }
  
  section {
    padding: 2rem;
  }

  /* NAV BAR */
	.logo-wrapper {
		width: 80px;
		height: auto;
		padding: 1rem;
		top: 0;
		left: 0;
		position: absolute;
  }
  
  .site-nav {
    display: flex;
    width: 100%;
    height: 100px;
    background: #fff;
	}
/* LINKS IN NAV */
	.underline {
		text-decoration: none;
		font-family: "Zilla Slab", serif;
		font-size: 2rem;
		transition: all 200ms ease-in-out;
		color: #4e4e4e;
		font-weight: 600;
		font-family: "Zilla Slab";
	}

	.underline:after {
		display: block;
		left: 0;
		width: 0;
		height: 4px;
		content: "";
		transition: width 0.2s;
	}

	.underline:hover {
		color: #dedede;
	}

	.underline:hover:after {
		width: 100%;
		color: #4e4e4e;
	}
	.site-menu {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		top: 0;
		right: -320px;
		width: 320px;
		height: 100vh;
		padding: 50px 30px;
		background-color: #fff8e8;
		transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.site-menu ul {
		padding: 0;
		list-style-type: none;
	}

	.site-menu ul li {
		padding: 10px 30px;
	}

	#site-menu-trigger {
		z-index: 10;
		display: none;
		height: 30px;
	}
	#site-menu-trigger:checked ~ .site-menu {
		transform: translate3d(-320px, 0, 0);
	}
	#site-menu-trigger:checked ~ label[for="site-menu-trigger"] {
		transform: translateX(-8px) scale(1.05);
	}
	#site-menu-trigger:checked
		~ label[for="site-menu-trigger"]
		.line:nth-child(1) {
		transform: rotate(45deg) translateX(10px);
	}
	#site-menu-trigger:checked
		~ label[for="site-menu-trigger"]
		.line:nth-child(2) {
		width: 0;
	}
	#site-menu-trigger:checked
		~ label[for="site-menu-trigger"]
		.line:nth-child(3) {
		transform: rotate(-45deg) translateX(10px);
	}
	#site-menu-trigger ~ label[for="site-menu-trigger"] {
		display: block;
		right: 20px;
		top: 20px;
		z-index: 10;
		position: absolute;
		width: 25px;
		height: 25px;
	}
	#site-menu-trigger ~ label[for="site-menu-trigger"] .line {
		display: block;
		content: "\200D";
		position: absolute;
		width: 25px;
		height: 3px;
		background-color: #4e4e4e;
		transition: all 200ms linear;
	}
	#site-menu-trigger ~ label[for="site-menu-trigger"] .line:nth-child(1) {
		top: 0;
	}
	#site-menu-trigger ~ label[for="site-menu-trigger"] .line:nth-child(2) {
		top: 7px;
	}
	#site-menu-trigger ~ label[for="site-menu-trigger"] .line:nth-child(3) {
		top: 14px;
	}

	.social-media {
		display: flex;
		width: 100%;
	}

	.social-media img {
		height: 100px;
		width: 100px;
	}

  /* HEAD-IMAGE */

	.hero-wrapper {
		width: 100%;
		height: 30%;
		background: url(assets/img/hero-b.jpg);
		background-repeat: no-repeat;
		background-size: 100% auto;
	}

	.begruessung-wrapper {
		padding: 2em;
		max-width: 500px;
		margin: 0 auto;
		text-align: center;
  }
  
  .begruessung-headline {
    background: url();
    margin-bottom: 2rem;
  }

	.begruessung-wrapper svg {
    position: absolute;
    height: 34vh;
    fill: #fff;
    padding: 0 2rem;
		z-index: -1;
		margin-top: 3rem;
	}

	.begruessung-wrapper span {
		font-size: 0.75rem;
	}

	.begruessung-wrapper p {
		margin: 1rem;
  }
  
  .stoerer {
    width: 100%;
    height: 20vh;
    background: url(assets/img/weizen.png);
    background-repeat: no-repeat;
		background-size: 100% auto;
    margin-bottom: 2rem;
  }

  /* BEGINN INTRO SEKTION */
  .intro-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2em;
  }

	.intro-wrapper p {
		max-width: 500px;
		margin: 0 auto;
	}

  .intro-wrapper img{
    width: 250px;
    margin-bottom: 1rem;
  }

  .mit-hg {
		background: url(assets/svg/white-bg.svg);
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
    padding: 3rem;
		background: #fff;
		width: 100%;
    margin: 3rem 0;
  }

  .kosten-teaser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-bottom: 2rem;
  }

  .kosten-teaser svg{
    position: absolute;
    z-index: -1;
  }


  form h2 {
    margin-top: 2rem;
  }

  input[type=text], input[type=number], input[type=e-mail] {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .form-label {
    margin: 1rem 0;
  }

  .kombinator {
    display: flex;
  }

  .kombinator input[name=hnr] {
    width:25%;
    margin-left: 5px;
  }

  input[type=radio] {
    margin-right: 1rem;
    display: inline;
  }
	
	.terminwahl {
		list-style-type: none;
	}

	.terminwahl li {
		margin: 1rem 0;
		font-family: 'Lato',sans-serif;
	}

	.button-wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 2rem;
	}

  .btn-primary {
    padding: 7px 20px;
    font-family: "Zilla Slab", serif;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background: #4e4e4e;
    color: #fff8e8;
    border: 0;
  }
  
  .btn-secondary {
    padding: 7px 20px;
    font-family: "Zilla Slab", serif;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: #4e4e4e;
    background: #fff8e8;
    border: 1px solid #4e4e4e;
  }

	.bestellung form {
		margin-top: 2rem;
	}

	.rechnungsadresse {
		margin-top: 2rem;
	}

	.mehlauswahl {
		list-style-type: none;
	}

	.mehlauswahl li {
		margin: 1rem 0;
	}

	.mehlauswahl p {
		display: inline;
		font-weight: 700;
	}

	.separator {
		height: 2px;
		width: 100%;
		border-bottom: 1px solid #4e4e4e;
	}

	.kontakt {
		text-align: center;
	}

	.kontakt-bg {
		margin: 0 auto;
		width: 900px;
		background: url(assets/svg/kontakt.svg);
		background-position-x: center;
		background-repeat: no-repeat;
		background-size: contain;
		fill: #fff;
	}

	.kontakt img {
		height: 70px;
		margin-bottom: 2rem;
	}

	footer {
		padding: 2rem;
		background: #4e4e4e;
		box-sizing: border-box;
		border-radius: 50% 50% 0 0;
	}

	footer a {
		color: #fff8e8;
		margin-left: 1rem;
	}
	
	.footer-top-row {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.footer-logo {
		fill: #fff8e8;
		width: 80px;
		height: auto;
	}

	.social-media-footer {
		margin-left: 1em;
	}

	.social-media-footer img{
		height: 30px;
		fill: #fff8e8;
	}

	.link-group {
		margin-top: 1rem;
		display: flex;
		justify-content: space-evenly;
	}

	.imprint-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0 5rem 5rem 5rem; 
	}

	address {
		text-decoration: none;
		font-style: none;
		margin-bottom: 1rem;
	}
}

@media (min-width: 1023px) {
	body {
		font-size: 120%;
	}
}